h1 {font-family: Impact;
    font-size:100px;
    letter-spacing: 30px;
}

nav {font-size: 13px;
    float: right;
}


body {font-family:Verdana, Arial, sans-serif;
      font-size: 13px;
      background-color: #9CFFC4;
      
}

table { color: #0A4E0F;
}

.post-title h4 { margin-bottom: -170px;

}

iframe {float: right;
        padding: 5px;
        }
#wrapper {
    background-color: #EEEFFF;
    color: #000066;
    width: 95%;
    margin: auto;
    min-width: 450px;
    max-width: 1200px;

           
}


figure {
    float: right;
}

figure1 {
    float: left;
    padding-right: 15px;
}

figure2 {
    float: left;
    padding-right: 15px;
}
